html {
    /*FILE HTML*/
    font-family: Helvetica, sans-serif;
    height: 100%;
    text-align: center;

}

.carousel-item {
    size: 50rem;
}

.card {
    margin-left: 10px;
    margin-right: 10px;
}

.tentangweb {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
    border-radius: 15px;
}
.tentangweb > div {
    background-color: #FFEEDE;
    justify-content: center;
    padding: 20px;
    border-radius: 15px;
}
#jdlindex{
    margin-top: 2rem;
    padding-left: 4rem;
    text-align: start;
}