html{  /*FILE HTML*/
    font-family:Helvetica, sans-serif;
    height: 100%;
    text-align: center;
    
}
.carousel-item{
    size: 50rem;
}
.card{
    margin-left: 10px;
    margin-right: 10px;
}
